<app-admin-navbar>
  <div class="container text-center">
    <div class="card shadow-sm mt-3">
      <div class="card-header text-center" style="background-color: #d5dbdb">
        <h4 class="mt-2">Vista previa trivia</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="container">
              <fieldset class="scheduler-border shadow-sm">
                <legend class="scheduler-border font-usco-vt">
                  Seleccione la trivia
                </legend>
                <form [formGroup]="formulario" class="pl-4 pr-4">
                  <div class="row pt-2">
                    <div class="col">
                      <mat-form-field
                        class="example-full-width"
                        appearance="fill"
                      >
                        <mat-label>Trivia</mat-label>
                        <mat-select formControlName="codigo">
                          <mat-option
                            *ngFor="let cuestionario of listadoCuestionarios"
                            [value]="cuestionario.codigo"
                          >
                            {{ cuestionario.nombre }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button
                        class="btn btn-ciber-v"
                        [disabled]="!formulario.valid"
                        (click)="visualizar()"
                      >
                        <i class="fa-solid fa-eye"></i> Previsualizar
                      </button>
                    </div>
                  </div>
                </form>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5" *ngIf="!flag">
      <div class="col">
        <div class="row text-center precarga-img-usco">
          <div class="col">
            <img src="assets/images/Logo1.png" style="width: 250px" />
          </div>
        </div>
        <div class="row text-center mt-3">
          <div class="col">
            <h5 class="font-usco-default font-usco-gr">
              Espacio para la visualización del cuestionario
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="flag">
      <div class="row prev-header-encuesta-usco mt-2 mb-3 shadow">
        <div class="col">
          <div
            class="row border-round-usco pl-5 pr-5 pb-3 pt-4"
            id="carnet-usco-rotulo-front"
          >
            <div class="col text-center font-usco-gr mt-2">
              <img style="width: 40%" src="assets/images/encuesta.png" />
              <hr class="dashed" />
              <h4 class="font-usco-default text-left font-usco-gr-d6">
                {{ cuestionario.nombre }}
              </h4>
              <h6 class="font-usco-default mt-3 text-left">
                <span class="font-usco-gr-d6"
                  ><i class="fa-solid fa-user"></i> Dirigida a: Estudiantes del
                  curso - {{ cuestionario.cursoNombre }}
                </span>
              </h6>
              <h6 class="font-usco-default mt-3 text-left font-usco-gr-d6">
                <i class="fa-solid fa-circle-info"></i> Instrucciones.
              </h6>
              <p class="text-justify">{{ cuestionario.instrucciones }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mt-3">
          <div
            class="row"
            *ngFor="let pregunta of listadoPreguntas; let i = index"
          >
            <div class="col">
              <div
                class="row prev-header-encuesta-usco mb-3 shadow"
                style="background-color: white"
                *ngIf="pregunta.tipoRespuestaCodigo == 1"
              >
                <div class="col pl-5 pr-5 pt-4 pb-3 text-left">
                  <label
                    id="example-radio-group-label"
                    class="font-usco-default font-usco-gr font-weight-bold"
                    >{{ i + 1 }}). {{ pregunta.nombre }}</label
                  ><br />
                  <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                  >
                    <mat-radio-button
                      class="example-radio-button"
                      style="
                        margin-top: 0;
                        margin-bottom: 0;
                        padding-top: 0;
                        padding-bottom: 0;
                      "
                      *ngFor="
                        let opcion of listadoPreguntaRespuestas[pregunta.codigo]
                      "
                      [value]="opcion.respuestaOpcionCodigo"
                    >
                      {{ opcion.respuestaOpcionNombre }}
                    </mat-radio-button>
                  </mat-radio-group>
                  <small>{{ pregunta.textoAdicional }}</small>
                </div>
              </div>
              <div
                class="row prev-header-encuesta-usco mb-3 shadow"
                style="background-color: white"
                *ngIf="pregunta.tipoRespuestaCodigo == 2"
              >
                <div class="col pl-5 pr-5 pt-4 pb-3">
                  <div class="form-group text-left">
                    <small
                      class="font-usco-gr font-usco-default font-weight-bold"
                      style="font-size: 16px"
                      >{{ i + 1 }}). {{ pregunta.nombre }}</small
                    ><br />
                    <mat-form-field
                      class="example-full-width mt-3"
                      appearance="outline"
                    >
                      <mat-label>Selecciones una opción</mat-label>
                      <mat-select>
                        <mat-option
                          *ngFor="
                            let opcion of listadoPreguntaRespuestas[
                              pregunta.codigo
                            ]
                          "
                          [value]="opcion.respuestaOpcionCodigo"
                        >
                          {{ opcion.respuestaOpcionNombre }}
                        </mat-option>
                      </mat-select>
                      <mat-hint>{{ pregunta.textoAdicional }}</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
  </div>
</app-admin-navbar>
