<app-admin-navbar>
  <div class="pl-4 pr-4 pb-4 text-center">
    <div class="card shadow-sm mt-3">
      <div class="card-header text-center" style="background-color: #d5dbdb">
        <h4 class="mt-2">Reporte Respuestas Trivia</h4>
      </div>
      <div class="card-body">
        <fieldset class="scheduler-border shadow-sm">
          <legend class="scheduler-border font-usco-vt">Consulta</legend>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Cursos</mat-label>
                <mat-select
                  [(ngModel)]="cursoCodigo"
                  (selectionChange)="obtenerCuestionarios(cursoCodigo)"
                >
                  <mat-option
                    *ngFor="let curso of listadoCursos"
                    [value]="curso.codigo"
                  >
                    {{ curso.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Trivias</mat-label>
                <mat-select
                >
                  <mat-option
                    *ngFor="let cuestionario of listadoCuestionarios"
                    [value]="cuestionario.codigo"
                    (click)="obtenerPreguntas(cuestionario.codigo)"
                  >
                    {{ cuestionario.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </fieldset>
        <fieldset class="scheduler-border shadow-sm">
          <legend class="scheduler-border font-usco-vt">Resultados</legend>
          <div class="row" *ngIf="(listadoReporteAgrupado | json) == '[]'">
            <div class="col">
              <div class="row text-center precarga-img-usco">
                <div class="col">
                  <img src="assets/images/Logo1.png" style="width: 250px" />
                </div>
              </div>
              <div class="row text-center mt-3">
                <div class="col">
                  <h5 class="font-usco-default font-usco-gr">
                    Espacio para la visualización de los resultados
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="(listadoReporteAgrupado | json) != '[]'">
            <div class="col">
              <div class="table-responsive">
                <table
                  id="miTabla"
                  class="table text-left"
                  style="font-size: 8px"
                >
                  <thead class="table-dark" style="color: white">
                    <tr>
                      <th>Estudiante</th>
                      <th>Fecha registro</th>
                      <th
                        *ngFor="let columna of listadoPreguntas; let i = index"
                      >
                        {{ i + 1 }}). {{ columna.nombre }}
                      </th>
                      <th>Calificacion</th>
                    </tr>
                  </thead>
                  <tbody class="table-hover">
                    <tr *ngFor="let data of listadoReporteAgrupado">
                      <td>{{ data.estudianteNombre }}</td>
                      <td>{{ data.fechaRegistro | date : "dd-MM-yyyy" }}</td>
                      <td *ngFor="let columna of getColumnas()">
                        {{ data.columnas[columna] }}
                      </td>
                      <td>{{ data.calificacion }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</app-admin-navbar>
