<app-admin-navbar>
  <div class="pl-4 pr-4 pb-4 text-center">
    <div class="card shadow-sm mt-3">
      <div class="card-header text-center" style="background-color: #d5dbdb">
        <h4 class="mt-2">Reporte Calificaciones Trivia</h4>
      </div>
      <div class="card-body">
        <fieldset class="scheduler-border shadow-sm">
          <legend class="scheduler-border font-usco-vt">Filtros</legend>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Cursos</mat-label>
                <mat-select [(ngModel)]="cursoNombre">
                  <mat-option
                    *ngFor="let curso of listadoCursos"
                    [value]="curso.nombre"
                  >
                    {{ curso.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Cuestionarios</mat-label>
                <mat-select [(ngModel)]="cuestionarioNombre">
                  <mat-option
                    *ngFor="let cuestionario of listadoCuestionarios"
                    [value]="cuestionario.nombre"
                  >
                    {{ cuestionario.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col text-left">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Campo de búsqueda</mat-label>
                <input
                  matInput
                  (keyup)="filtrar($event)"
                  type="text"
                  required
                />
                <button matSuffix mat-icon-button>
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="col-sm-2 mt-2">
              <button class="btn btn-info" (click)="restaurar()">
                <i class="fa-solid fa-rotate-right"></i> Restaurar
              </button>
            </div>
          </div>
        </fieldset>
        <fieldset class="scheduler-border shadow-sm">
          <legend class="scheduler-border font-usco-vt">Resultados</legend>
          <div class="row">
            <div class="col">
              <table
                mat-table
                [dataSource]="
                  dataSource
                    | filtroCurso : 'cursoNombre' : cursoNombre
                    | filtroCurso : 'cuestionarioNombre' : cuestionarioNombre
                "
                class="table table-hover shadow-sm"
              >
                <ng-container matColumnDef="index">
                  <th mat-header-cell *matHeaderCellDef>N°</th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    {{ dataSource.filteredData.indexOf(element) + 1 }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef>Estudiante</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.estudianteNombre | uppercase }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="curso">
                  <th mat-header-cell *matHeaderCellDef>Curso</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.cursoNombre | uppercase }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="cuestionario">
                  <th mat-header-cell *matHeaderCellDef>Trivia</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.cuestionarioNombre | uppercase }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="calificacion">
                  <th mat-header-cell *matHeaderCellDef>Calificacion</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.calificacion }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef>Fecha respuesta</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.fechaRegistro | date : "dd-MM-yyyy hh:mm a" }}
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
                <!-- No Data Row -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    No hay valores por el momento
                  </td>
                </tr>
              </table>
              <mat-paginator
                [pageSizeOptions]="[10, 20, 30]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </div>
        </fieldset>
        <div class="row text-right">
          <div class="col">
            <button
              class="btn btn-ciber-v"
              [disabled]="(dataCalificacion | json) == '[]'"
              (click)="datosCalificacionExcel()"
            >
              <i class="fa-solid fa-file-csv"></i> Reporte excel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-admin-navbar>
