<app-admin-navbar>
  <!-- Sección de presentación -->
  <header class="jumbotron text-center toolbar text-white">
    <div class="container">
      <h1 class="display-4">Desafíos Multitemáticos de Ciberseguridad</h1>
      <p class="lead">
        Una plataforma interactiva para el aprendizaje y entrenamiento en
        ciberseguridad.
      </p>
    </div>
  </header>

  <!-- Sección de objetivos -->
  <section id="objetivos" class="py-5">
    <div class="container">
      <h2 class="text-center">Objetivos del Proyecto</h2>
      <p class="lead">
        El objetivo principal es diseñar, desarrollar e implementar un
        aplicativo web que proporcione un entorno de aprendizaje práctico y
        dinámico para el fortalecimiento de habilidades en ciberseguridad. Esto
        se logrará mediante:
      </p>
      <ul class="list-group">
        <li class="list-group-item">La oferta de desafíos variados</li>
        <li class="list-group-item">Un sistema de puntuaciones competitivas</li>
        <li class="list-group-item">La generación de reportes detallados</li>
      </ul>
    </div>
  </section>
  <hr />
  <!-- Sección de roles -->
  <section id="roles" class="py-5 bg-light">
    <div class="container">
      <h2 class="text-center mb-5">Roles del Aplicativo Web</h2>
      <div class="row">
        <div class="col-md-4">
          <h3>Administrador</h3>
          <ul>
            <li>Creación y gestión de cuentas de usuarios (docentes)</li>
            <li>Configuración de cursos disponibles</li>
            <li>Parametrización de trivias</li>
            <li>Asignación de permisos y roles</li>
            <li>Seguimiento y gestión de puntuaciones</li>
            <li>Generación de reportes sobre el desempeño general</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Docente</h3>
          <ul>
            <li>Construcción de trivias</li>
            <li>Parametrización de fechas de aplicación</li>
            <li>Asignación de trivias</li>
            <li>Generación de reportes detallados</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Estudiante</h3>
          <ul>
            <li>Visualización de trivias asignados</li>
            <li>Realización de trivias</li>
            <li>Visualización de puntuaciones</li>
            <li>Ingreso de nombre para registro</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <!-- Sección de tecnologías -->
  <section id="tecnologias" class="py-5">
    <div class="container">
      <h2 class="text-center mb-5">Tecnologías Utilizadas</h2>
      <p class="lead text-center">
        El desarrollo del aplicativo web se llevará a cabo utilizando las
        siguientes tecnologías:
      </p>
      <div class="row">
        <div class="col-md-6">
          <h4>Backend</h4>
          <ul>
            <li>Lenguaje de programación: Java</li>
            <li>Framework: Spring Boot</li>
            <li>ORM: Hibernate</li>
            <li>Base de datos: PostgreSQL</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>Frontend</h4>
          <ul>
            <li>Framework: Angular</li>
            <li>Gestión de versiones: Git</li>
            <li>
              Servidor de aplicaciones: Apache Tomcat o Spring Boot incorporado
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</app-admin-navbar>
